<div class="row">
  <div class="col-xs-6">
    {{#bs-dropdown as |dd|}}
      {{#dd.toggle}}Challenge set <span class="caret"></span>{{/dd.toggle}}
      {{#dd.menu as |ddm|}}
        {{#each sets as |set|}}
          {{#ddm.item}}
            {{#link-to "set" set.id}}
              #{{set.id}} - {{set.name}}
            {{/link-to}}
          {{/ddm.item}}
        {{/each}}
      {{/dd.menu}}
    {{/bs-dropdown}}
  </div>

  {{!-- {{outlet}} --}}
</div>
